<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="JSFM-TB-087-089-Spring-MVC-JNDI-Datasource-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <property name="java-output-path" value="/JSFM-TB-087-089-Spring-MVC-JNDI-Datasource/build/classes"/>
        <property name="context-root" value="JSFM-TB-087-089-Spring-MVC-JNDI-Datasource"/>
    </wb-module>
</project-modules>
